.sidenav-container {
  height: 100%;
  
}

.sidenav {
  width: 200px;
  background-color: #282828;
  -webkit-box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.75);
  border-right: 1px solid #181818;
}

.sidenav .mat-toolbar {
  
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #282828;
  border-bottom: 1px solid gray;
  color: beige;
}
.mat-nav-list a{
  color: beige;
}
.mat-nav-list a:hover{
  background-color: burlywood;
}
.active {
  color: red;
}
a{
  margin-top: 5px;
}