<div class="content">
    <p>Üdv a MyMovieComerator oldalon!
 
        Ezen az oldalon különböző film kategóriákról találhatsz statisztikákat, diagramokat.
        A diagramok az alábbi statisztikákból készülnek: 
        filmek átlagos hossza adott kategóriában, értékelések átlaga adott 
        kategóriában, leghosszabb filmek a kategóriákban, legrövidebb 
        filmek az adott kategóriákban, legrosszabb értékelés az 
        adott kategóriában, legjobb értékelés az adott kategóriában.
    </p>
</div>